<div style="text-align:center">
    <h1>Stats</h1>
</div>
<div style="margin: auto; width: 60%">
    <ul class="stats">
        <li>Total number of requests processed <span>{{statsData.requestsProcessed}}</span></li>
        <li *ngFor="let httpCodeData of statsData.httpCodes">Total number of requests resulted in {{httpCodeData.code}} response <span>{{httpCodeData.count}}</span></li>
        <li>Average response time of all requests <span>{{statsData.averageTime}} ms</span></li>
        <li>Min response time of all requests <span>{{statsData.minResponseTime}} ms</span></li>
        <li>Max response time of all requests <span>{{statsData.maxResponseTime}} ms</span></li>
    </ul>
</div>