/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
    font-family: 'NoaLight';
    src: url("https://www.klm.com/ams/frontend/font/NoaLTW02-Light.EOT");
    src: url("https://www.klm.com/ams/frontend/font/NoaLTW02-Light.EOT?#iefix") format("embedded-opentype"), url("https://www.klm.com/ams/frontend/font/NoaLTW02-Light.woff") format("woff"), url("https://www.klm.com/ams/frontend/font/NoaLTW02-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText';
    src: url("https://www.klm.com/ams/frontend/font/SF-UI-Text-Regular.eot");
    src: url("https://www.klm.com/ams/frontend/font/SF-UI-Text-Regular.woff") format("woff"), url("https://www.klm.com/ams/frontend/font/SF-UI-Text-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
div.links a {
  color: #00a1de;
  text-decoration: none;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,sans-serif;
  margin-left: 25px;
  margin-right: 25px;
}
h1 {
	font-family: 'NoaLight',verdana,arial,sans-serif;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00a1de;
}
h2 {
	    margin-bottom: 5px;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #003145;
}
.container {
    width: 300px;
    font: 17px Calibri;
}
.container input {
	font-family: -apple-system,system-ui,"Segoe UI",Roboto,sans-serif;
}

.container button {
	    background: #f19858;
    border: none;
    color: #fff;
    font: 400 13.3333px Arial;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 0 2px 0 0;
    border: 0;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    height: 25px;
    width: 100px;
}

.triangle {
    border-right: 10px solid; 
    border-bottom: 10px solid;
    height: 20px;
    width: 20px;
    transform: rotate(-45deg);
	color: #009CD7;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #009CD7;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.fare ul {
	display: inline-block;
}
.fare ul li {
	float: left;
  list-style: none;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,sans-serif;
}
.fare .from {
	margin-top: 5px;
    margin-right: 10px;
}
.fare .to {
	margin-left: 30px;
    margin-top: 5px;
}
.fare .clear {
	display: inherit;
}

.fare .price {
	font-family: -apple-system,system-ui,"Segoe UI",Roboto,sans-serif;
    font-size: 24px;
    font-weight: 600;
    border: #005b82 1px solid;
    padding: 15px;
    width: 200px;
    margin: auto;
}

.mat-form-field {
  display: block !important;
  margin: auto;
}

.mat-form-field.from {
  margin-top: 20px;
}

form button {
  color: #fff;
  background: #e77b2f;
  border: 0;
  height: 28px;
  width: 100px;
  font-weight: bold;
}

.offer-heading {
  font-family: 'NoaLight',verdana,arial,sans-serif;
  color: #005b82;
  font-size: 22px;
  margin-bottom: 14px;
  margin-top: 35px;
}

ul.stats li {
	list-style: none;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,sans-serif;
  border-bottom: solid 1px #c2deea;
  padding: 10px 5% 10px 7%;
}

ul.stats li span{
	float: right;
}

div.airports-table {
  width: 80%;
  margin:auto;
  text-align: center;
}

div.airports-table table {
  width: 100%;
}