<div class="links">
    <a routerLink="/fares" routerLinkActive="active">Fare Offers</a>
    <a routerLink="/stats" routerLinkActive="active">Service Stats</a>
    <a routerLink="/airports" routerLinkActive="active">Airports</a>
</div>
<div>
    <router-outlet></router-outlet>
</div>
