<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Find travel offers!
  </h1>
</div>
<div style="text-align:center">
  <h2>Select your departure and destiny airports:</h2>
</div>
<div style="text-align:center">
  <form>
    <mat-form-field class="container from">
      <input type="text" placeholder="From ..." matInput [formControl]="fromAirport" [matAutocomplete]="from">
      
      <mat-autocomplete #from="matAutocomplete" >
        <mat-option *ngFor="let airport of fromAirportsList" [value]="airport.code">
          {{ airport.description }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
	  
	  <mat-form-field class="container">
      <input type="text" placeholder="To ..." matInput [formControl]="toAirport" [matAutocomplete]="to">

      <mat-autocomplete #to="matAutocomplete" >
        <mat-option *ngFor="let airport of toAirportsList" [value]="airport.code">
          {{ airport.description }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
	  
    <button (click)="searchFare()">View Offer</button>
  </form>
</div>
<div style="text-align:center">
  <div class="lds-ellipsis" *ngIf="showSpinner"><div></div><div></div><div></div><div></div></div>
  
  <div class="fare" *ngIf="showFare">
    <h2 class="offer-heading">Your Offer:</h2>
		<ul>
		  <li class="from">{{fareData.from.description}}</li>
		  <li><div class="triangle"></div></li>
		  <li class="to">{{fareData.to.description}}</li>
		</ul>
		<span class="clear price">{{fareData.amount}} {{fareData.currency}}</span>
	</div>
</div>



