<div style="text-align:center">
  <h1>Airports</h1>
</div>
<div class="airports-table">
  <div class="lds-ellipsis" *ngIf="showSpinner"><div></div><div></div><div></div><div></div></div>

  <mat-form-field *ngIf="!showSpinner">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="!showSpinner">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
      <td mat-cell *matCellDef="let airport">{{airport.code}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell class="description-cell" *matCellDef="let airport">{{airport.name}}</td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
      <td mat-cell class="duration-cell" *matCellDef="let airport">{{airport.city}}</td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell class="duration-cell" *matCellDef="let airport">{{airport.country}}</td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="!showSpinner">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>